
{% extends "base_options.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n avatar_tags %}

{% block fragment %}
<div id="content" class="col-sm-9">

    <div class="col-sm-6">
        <div class="well">
           <h3>Recuperar Senha</h3>
           <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                 <label class="control-label" for="id_new_password1">{% trans 'Nova senha' %}</label>
                 <input type="password" name="new_password1" value="" placeholder="Nova Senha" id="id_new_password1" class="form-control" />
              </div>
              <div class="form-group">
                 <label class="control-label" for="id_new_password2">Confirme a Senha</label>
                 <input type="password" name="new_password2" value="" placeholder="Confirme a Senha" id="id_new_password2" class="form-control" />
              </div>
              <input type="submit" value="Confirmar" class="btn btn-primary" />
              <input type="hidden" name="redirect" value="https://demo.codezeel.com/opencart/OPC07/OPC070174/index.php?route=account/transaction" />
           </form>
        </div>
    </div>
</div>
{% endblock fragment %}