{% extends "base.html" %}
{% load staticfiles %}
{% load i18n avatar_tags %}

{% block middle %}
<div id="account-register" class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>{% trans 'Registrar uma conta' %}</h1>
            <p>{% trans 'Se você já possui uma conta com nós, por favor ' %} <a href="{% url 'login' %}" style="color:#e00024">{% trans ' logue na página' %}</a>.</p>
            <form action="{% url "create_account" %}" method="POST" class="form-horizontal">
                {% csrf_token %}
                <fieldset id="account">
                    <legend>{% trans 'Informações pessoais' %}</legend>
             
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_first_name">{% trans 'Nome' %}</label>
                        <div class="col-sm-6">
                            <input type="text" name="first_name" placeholder="{% trans 'Nome' %}" id="id_first_name" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_last_name">{% trans 'Sobrenome' %}</label>
                        <div class="col-sm-6">
                            <input type="text" name="last_name"  placeholder="{% trans 'Sobrenome' %}" id="id_last_name" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_email">{% trans 'E-mail' %}</label>
                        <div class="col-sm-6">
                            <input type="email" name="email" placeholder="E-Mail" id="id_email" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_birthday">{% trans 'Data de Nascimento' %}</label>
                        <div class="col-sm-6">
                            <input type="text" name="birthday" placeholder="{% trans 'Data de Nascimento' %}" id="id_birthday" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-street">{% trans 'Rua/Nº' %}</label>
                        <div class="col-sm-6">
                            <input type="tel" name="street" placeholder="{% trans 'Ex: Rua João da Silva, xxx' %}" id="input-street" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-neighborhood">{% trans 'Bairro' %}</label>
                        <div class="col-sm-6">
                            <input type="tel" name="neighborhood" placeholder="{% trans 'Bairro' %}" id="input-neighborhood" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_phone_number">{% trans 'Telefone' %}</label>
                        <div class="col-sm-6">
                            <input type="tel" name="phone_number" placeholder="{% trans 'Telefone' %}" id="id_phone_number" class="form-control" required/>
                        </div>
                    </div>
                    <strong style="color:black">Obs: atualmente atuamos somente na cidade de Paraibuna-SP</strong>
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Sua Senha' %}</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_password">{% trans 'Senha' %}</label>
                        <div class="col-sm-6">
                            <input type="password" name="password" placeholder="{% trans 'Senha' %}" id="id_password" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="id_password2">{% trans 'Cofirme a Senha' %}</label>
                        <div class="col-sm-6">
                            <input type="password" name="confirm" name="password2" placeholder="{% trans 'Cofirme a Senha' %}" id="id_password2" class="form-control" required/>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons">
                    <div class="pull-right">{% trans 'Eu li e aceito a ' %} <a href="{% url 'privacy_policy' %}" class="agree"><b>{% trans 'Política de Privacidade' %}</b></a>
                        <input type="checkbox" name="agree" value="1" required/> &nbsp;
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock middle %}